<h1>Crear un nuevo producto</h1>
<form action="">
  <div class="flex flex-column gap-2 mb-4">
    <label for="username">Nombre del producto</label>
    <input pInputText />
    <small id="username-help"> Ingresa el nombre del producto </small>
  </div>
  <div class="flex flex-column gap-2 mb-4">
    <label for="username">Precio del producto</label>
    <input pInputText />
    <small id="username-help"> Ingresa el precio del producto </small>
  </div>
  <p-button label="Guardar" severity="success" class="mt-4" />
</form>
